<h1>Edit category's list of items</h1>

<h3><%= @category.name%></h3>

<% @categoryItems.each do |item| %>

  <%= form_with scope: :item, url: category_item_path(@category, item), method: :patch, local: true do |form| %>
    <p>
      <%= form.label :name, item.name %><br>
      <%= form.text_field :name %><br>
    </p>

    <p>
      <%= form.submit 'Rename Item'%>
    </p>  
   <% end %>

   <%= button_to 'Delete', category_item_path(@category, item), method: :delete%>

<% end %>

<%= form_with scope: :item, url: category_items_path, method: :post, local: true do |form| %>

  <p>
    <%= form.label :name, 'New Item'%>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit 'Add On'%>
  </p>

<% end %>