<h1>new.html.erb items views</h1>

<%= form_with scope: :item, url: category_items_path, method: :post, local: true do |form| %>
   <h3><%= @categories.name%></h3>
   <p>
      <%= form.label :name, "List of Item: "%>
      <%= form.text_field :name %><br>
   </p>

   <% @categoryItems.map do |item| %>
      <div class="input-group">
         <li class="w-25 p-3;" style="list-style:none; display:inline;"><%= item.name%>:</li>      
         <span class="text">$</span> <input style="width:50px" type="text" class="form-control;" aria-label="Dollar amount (with dot and two decimal places)" data-toggle="tooltip" data-placement="top" title="Enter budget">
         <select name="unit" id="unit" data-toggle="tooltip" data-placement="top" title="Select Quantity">
            <option value="">Qty</option>
            <option value="perG">per g</option>
            <option value="perKg">per kg</option>
         </select>
      </div>
   <% end %>

<%= form.submit 'Save List', class:"btn btn-primary btn-sm" %>
 <%= link_to 'Show Grocerlist', categories_url, class: "btn btn-sm", method: :get %>
<% end %>
