<%= form_with scope: :category, url: categories_path(@categories), method: :post, local: true do |form| %>
   <p>
      <%= form.label :name, "My New Item: "%>
      <%= form.text_field :name %><br>
   </p>
   <p>
      <%= form.submit 'Save List', class:"btn btn-primary btn-sm" %>
      <%= link_to 'Show Grocerlist', categories_url, class:"btn btn-sm btn-info", method: :get%>
   </p>
<% end %>


